/* Файл: src/styles/components/ThemeSwitcher.scss */

@import './../variables.scss';

.theme-switcher {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--button-bg-color);
      transition: 0.4s;
      border-radius: 34px;
      box-shadow: 0 0 10px var(--button-bg-color), 0 0 20px var(--button-bg-color);

      &:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--button-text-color);
        transition: 0.4s;
        border-radius: 50%;
        box-shadow: 0 0 5px var(--button-text-color), 0 0 10px var(--button-text-color);
      }
    }

    input:checked + .slider {
      background-color: var(--primary-color);
      box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color);
    }

    input:checked + .slider:before {
      transform: translateX(26px);
      box-shadow: 0 0 5px var(--button-text-color), 0 0 10px var(--button-text-color);
    }
  }
}
