/* Файл: src/styles/neonButton.scss */

@import 'variables';

/* Миксин для неоновой кнопки */
@mixin neon-button($color: var(--neon-color)) {
  /* Анимация пульсации для неонового эффекта */
  @keyframes pulse {
    0%,
    100% {
      box-shadow: 0 0 10px #{$color}, 0 0 20px #{$color}, 0 0 40px #{$color};
    }
    50% {
      box-shadow: 0 0 20px #{$color}, 0 0 30px #{$color}, 0 0 50px #{$color};
    }
  }

  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: var(--button-text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  overflow: hidden;
  transition: 0.2s;
  border: none;
  cursor: pointer;
  background: none;

  /* Псевдоэлемент для анимации скользящего света */
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba($color, 0.5), transparent);
    transform: skewX(-45deg);
    transition: 0.7s;
  }

  /* Анимация псевдоэлемента при наведении */
  &:hover:before {
    left: 130%;
  }

  /* Псевдоэлемент для неоновой обводки и свечения */
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid $color;
    box-shadow: 0 0 5px $color, 0 0 10px $color, 0 0 20px $color, 0 0 40px $color;
    transition: 0.5s;
  }

  /* Усиление свечения при наведении */
  &:hover:after {
    box-shadow: 0 0 10px $color, 0 0 20px $color, 0 0 40px $color, 0 0 80px $color;
  }

  /* Анимация пульсации при наведении */
  &:hover {
    animation: pulse 1.5s infinite;
  }

  /* Стили для отключенной кнопки */
  &:disabled {
    color: #ccc;
    cursor: not-allowed;
    &:hover{
      animation: none;
    }

    &:after {
      border-color: #ccc;
      box-shadow: none;
    }

    &:before {
      display: none;
    }
  }
}
