/* Файл: src/styles/variables.scss */

/* Переменные стилей */

:root {
    --background-color: #333333;
    --text-color: #000000;
    --primary-color: #00ffea;
    --secondary-color: #ff00ff;
    --button-bg-color: #00ffea;
    --button-text-color: #000000;
    --neon-color: #00ffea;
  }
  
  [data-theme='light'] {
    --background-color: #ecdad3;
    --text-color: #ffffff;
    --primary-color: #0aff99;
    --secondary-color: #ff00ff;
    --button-bg-color: #0aff99;
    --button-text-color: #ffffff;
    --neon-color: #0aff99;
  }
  