.image-uploader {
  margin: 20px 0;

  input[type='file'] {
    display: inline-block;
  }

  .preview-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;

    .preview-item {
      margin: 5px;
      border: 1px solid #ddd;
      padding: 5px;
      border-radius: 5px;

      img {
        max-width: 100px;
        max-height: 100px;
        display: block;
      }
    }
  }
}








