@import './styles/neonButton';

@keyframes neonGlow {
  0%,
  100% {
    text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color), 0 0 20px var(--secondary-color), 0 0 40px var(--primary-color), 0 0 80px var(--primary-color);
  }
  50% {
    text-shadow: 0 0 10px var(--secondary-color), 0 0 20px var(--secondary-color), 0 0 30px var(--secondary-color), 0 0 60px var(--primary-color), 0 0 100px var(--primary-color);
  }
}



.app {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative; /* Для позиционирования ThemeSwitcher */

  h1 {
    color: var(--primary-color);
    animation: neonGlow 2s infinite;
  }

  /* Используем миксин для кнопок */
  button {
    @include neon-button();

    margin: 10px;

    &:disabled {
      color: #ccc;
      cursor: not-allowed;
      box-shadow: none;
      &:after {
        border-color: #ccc;
        box-shadow: none;
      }
    }
  }
}


